.filter-area .additional-filter-select {
  border-radius: 20px;
  background-color: #f2f2f4;
  border: 1px solid #555555;
  padding: 4px 8px; }
  .filter-area .additional-filter-select select {
    background-color: #f2f2f4;
    padding: 2px;
    border: none;
    outline: none; }

.filter-area input.datepicker {
  max-width: 400px;
  width: 180px; }

.filterable .pagination {
  background-color: #FFFFFF;
  color: #000000;
  display: block;
  font-size: 14px;
  padding: 10px 8px 8px 8px;
  display: flex;
  line-height: 20px;
  margin: 0px; }

.pagination .status {
  text-align: right;
  flex: none; }

.tab-pane .filterable .pagination:first-child, .tab-pane .filterable .pagination:last-child {
  border-radius: 0px;
  margin-bottom: 0px;
  margin-top: 0px; }

.tab-pane .filterable table tr td:first-child, .tab-pane .filterable table tr td:last-child, .tab-pane .filterable table tr th:first-child, .tab-pane .filterable table tr th:last-child {
  border-left: none; }

.tab-pane .filterable table tr:last-child td {
  border: none; }

.filterable .pagination:first-child {
  margin-top: 0px;
  border-radius: 0px; }

.filterable .pagination:last-child {
  border-radius: 0px;
  margin-bottom: 0px; }

.filterable table tbody td.sub-row, .filterable table tr td:first-child.sub-row {
  background-color: #555555;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,c6c6c6+100 */
  background: #ffffff;
  /* Old browsers */
  background: -moz-linear-gradient(top, #ffffff 0%, #c6c6c6 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #ffffff 0%, #c6c6c6 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #ffffff 0%, #c6c6c6 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#c6c6c6',GradientType=0 );
  /* IE6-9 */
  padding: 8px 8px 8px 8px;
  border: 1px solid #000000;
  border-top: none; }

.open td, .filterable table tbody tr.open td {
  border-top: 2px solid #000000;
  border-bottom: none; }

.open td:first-child, .tab-pane .filterable table tr.open td:first-child {
  border-left: 1px solid #000000; }

.open td:last-child, .tab-pane .filterable table tr.open td:last-child {
  border-right: 1px solid #000000; }

.form-pane {
  border: 1px solid #cddced;
  background-color: #FFFFFF; }

.tab-pane {
  padding: 40px; }
  .tab-pane .filter-area {
    margin-top: -40px;
    margin-left: -40px;
    margin-right: -40px;
    margin-bottom: 30px; }
  .tab-pane .filterable {
    margin-bottom: -30px;
    margin-left: -30px;
    margin-top: -30px;
    margin-right: -30px; }

.filterable .pages {
  flex: 1;
  text-align: center; }

.filterable .pages span {
  margin: 0px 8px;
  cursor: pointer; }

.filterable .pages span.glyphicons {
  margin: -5px 0px;
  font-size: 20px; }

.filterable .pages input.page.active {
  max-width: 50px;
  font-weight: bold;
  font-size: 20px;
  background-color: #81a8d1;
  padding: 4px 12px;
  border-radius: 36px;
  text-align: center;
  color: #FFFFFF;
  border: none; }

.filterable .pages input.page.active::-webkit-outer-spin-button,
.filterable .pages input.page.active::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

.filterable .pagination .glyphicons-refresh {
  cursor: pointer;
  font-size: 20px;
  margin-top: -5px; }

.filterable .pagination .glyphicons-option-horizontal {
  background-color: #CCCCCC;
  border-radius: 3px;
  cursor: pointer;
  font-size: 20px;
  margin-top: -5px; }

.filterable table {
  width: 100%;
  background-color: #FFFFFF; }

.filterable div.mobile-title {
  display: none; }

.filterable table thead th {
  background-color: #0771b8;
  color: #FFFFFF;
  padding: 2px 4px;
  line-height: 25px;
  border-right: 1px solid #FFFFFF; }

.filterable table thead th:last-child {
  border-right: none; }

.filterable table thead th span {
  float: right; }

.filterable table thead th span.glyphicons {
  margin: 0px 0px;
  max-width: 20px; }

.filterable table thead th span.glyphicons-left {
  float: none; }

.short-col {
  max-width: 40px; }

.filterable table thead th span.sort-number {
  float: right;
  font-size: 8px;
  color: #00FF00; }

.active-filter {
  color: #00FF00; }

.filterable table tbody tr td {
  padding: 5px 8px;
  border-bottom: 1px solid #DDDDDD; }

.filterable table tbody tr:nth-child(2n) {
  background-color: #AFC5DA; }

.filterable table tbody tr:nth-child(2n + 1) {
  background-color: #CAD6E4; }

.filterable table tbody tr.error-row:nth-child(2n) {
  background-color: #FCA8AB; }

.filterable table tbody tr.error-row:nth-child(2n + 1) {
  background-color: #FDC5C7; }

.filterable tr.summary td, .filterable tr.summary td:nth-child(2n), .filterable tr.summary td:nth-child(2n+1) {
  background-color: #000000;
  color: #FFFFFF;
  font-weight: bold; }

.filter-area {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  background-color: #9f9fa0;
  padding: 4px;
  border-radius: 0px; }

.filter-area span.glyphicons-print, .filter-area span.glyphicons-cogwheel {
  float: right;
  cursor: pointer;
  color: #000000;
  font-size: 18px; }

.print-block {
  display: inline-block;
  background: #EEEEEE;
  border-radius: 2px;
  border: 1px solid #888888; }

.settings-block {
  display: inline-block;
  background: #EEEEEE;
  border-radius: 2px;
  border: 1px solid #888888;
  border-left: 0px; }

.column-block {
  display: inline-block;
  background: #EEEEEE;
  border-radius: 2px;
  border: 1px solid #888888;
  border-left: 0px; }

.tab-pane .filter-area {
  border-radius: 0px; }

.filter-area button.filter-apply {
  border-radius: 20px;
  border: 1px solid #555555;
  margin: 0px 2px;
  font-size: 16px;
  background-color: #f2f2f4;
  color: #4d4d4d;
  padding: 6px 10px; }

.filter-area .filter-tray {
  flex: 1; }

.filter-area .filter-window {
  display: block;
  float: left;
  background-color: #000000;
  color: #FFFFFF;
  border-radius: 3px;
  margin: 4px 2px;
  padding: 0px; }

.filter-area .filter-window .filter-header {
  float: left;
  font-size: 12px;
  line-height: 18px;
  padding: 2px 4px; }

.filter-area .filter-window input, .filter-area .filter-window select {
  font-size: 12px;
  float: left;
  border: none;
  padding: 3px;
  color: #000000;
  height: 23px; }

.filter-area .filter-window select {
  font-size: 14px;
  height: 23px; }

.filter-area .filter-window .filter-footer {
  float: left; }

.filter-area .filter-window .filter-footer button {
  padding: 0px;
  background: #9e0b0f;
  border-radius: 0px 3px 3px 0px;
  color: #FFFFFF;
  border: none;
  height: 23px; }

.filter-area .filter-window .filter-footer button span.glyphicons {
  font-size: 12px;
  line-height: 11px;
  padding: 0px;
  margin: 0px 0px 0px 0px; }

.glyphicons-bin {
  color: #FF0000;
  cursor: pointer; }

.glyphicons-pencil {
  cursor: pointer; }

.filterable table tbody td span.glyphicons-bin.disabled {
  color: #77747C; }

.spinner {
  animation: spinReverse 1s linear infinite; }

@keyframes spin {
  from {
    transform: rotate(360deg); }
  to {
    transform: rotate(0deg); } }

@keyframes spinReverse {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

.filter-footer {
  margin-left: 0px; }

.filter-tray .input-group {
  float: left; }

@media (max-width: 850px) {
  .filter-area {
    display: block; }
    .filter-area .additional-filter-select {
      display: inline-block; }
    .filter-area .filter-tray {
      width: 100%;
      display: block; }
      .filter-area .filter-tray .filter-window {
        display: flex;
        float: none;
        clear: both;
        flex-wrap: wrap; }
        .filter-area .filter-tray .filter-window .filter-header {
          float: none;
          flex: 0;
          font-size: 10px;
          white-space: nowrap;
          min-width: 75px; }
        .filter-area .filter-tray .filter-window * {
          float: none;
          flex: 1;
          max-width: none; }
        .filter-area .filter-tray .filter-window .input-group {
          float: none;
          width: 100%;
          padding: 0px 2px 2px 2px; }
          .filter-area .filter-tray .filter-window .input-group * {
            width: 100%;
            max-width: none; }
        .filter-area .filter-tray .filter-window .filter-footer {
          flex: 0; }
    .filter-area .saved-filters {
      clear: both;
      width: 100%;
      display: block;
      float: none; }
  .tab-pane .filterable {
    margin-left: -40px;
    margin-right: -40px; }
  .filterable div.mobile-title {
    display: block;
    font-size: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 2px; }
  .filterable tr {
    display: block; }
    .filterable tr th {
      display: none; }
    .filterable tr td {
      display: block; }
      .filterable tr td .glyphicons {
        font-size: 24px; }
  .filterable .pagination {
    display: block;
    padding: 0px; }
    .filterable .pagination:first-child {
      display: none; }
    .filterable .pagination > span:first-child {
      display: block;
      font-size: 9px; }
    .filterable .pagination > .status {
      display: none; }
    .filterable .pagination .pages {
      display: flex;
      flex-wrap: wrap;
      align-items: center; }
      .filterable .pagination .pages * {
        flex: 1; }
      .filterable .pagination .pages .page {
        background-color: #EEEEEE;
        padding: 4px 0px; } }

.hide-column-0 > table > tr > td:nth-child(0), .hide-column-0 > table > tbody > tr > td:nth-child(0), .hide-column-0 > table > tr > th:nth-child(0), .hide-column-0 > table > thead > tr > th:nth-child(0) {
  display: none; }

.hide-column-1 > table > tr > td:nth-child(1), .hide-column-1 > table > tbody > tr > td:nth-child(1), .hide-column-1 > table > tr > th:nth-child(1), .hide-column-1 > table > thead > tr > th:nth-child(1) {
  display: none; }

.hide-column-2 > table > tr > td:nth-child(2), .hide-column-2 > table > tbody > tr > td:nth-child(2), .hide-column-2 > table > tr > th:nth-child(2), .hide-column-2 > table > thead > tr > th:nth-child(2) {
  display: none; }

.hide-column-3 > table > tr > td:nth-child(3), .hide-column-3 > table > tbody > tr > td:nth-child(3), .hide-column-3 > table > tr > th:nth-child(3), .hide-column-3 > table > thead > tr > th:nth-child(3) {
  display: none; }

.hide-column-4 > table > tr > td:nth-child(4), .hide-column-4 > table > tbody > tr > td:nth-child(4), .hide-column-4 > table > tr > th:nth-child(4), .hide-column-4 > table > thead > tr > th:nth-child(4) {
  display: none; }

.hide-column-5 > table > tr > td:nth-child(5), .hide-column-5 > table > tbody > tr > td:nth-child(5), .hide-column-5 > table > tr > th:nth-child(5), .hide-column-5 > table > thead > tr > th:nth-child(5) {
  display: none; }

.hide-column-6 > table > tr > td:nth-child(6), .hide-column-6 > table > tbody > tr > td:nth-child(6), .hide-column-6 > table > tr > th:nth-child(6), .hide-column-6 > table > thead > tr > th:nth-child(6) {
  display: none; }

.hide-column-7 > table > tr > td:nth-child(7), .hide-column-7 > table > tbody > tr > td:nth-child(7), .hide-column-7 > table > tr > th:nth-child(7), .hide-column-7 > table > thead > tr > th:nth-child(7) {
  display: none; }

.hide-column-8 > table > tr > td:nth-child(8), .hide-column-8 > table > tbody > tr > td:nth-child(8), .hide-column-8 > table > tr > th:nth-child(8), .hide-column-8 > table > thead > tr > th:nth-child(8) {
  display: none; }

.hide-column-9 > table > tr > td:nth-child(9), .hide-column-9 > table > tbody > tr > td:nth-child(9), .hide-column-9 > table > tr > th:nth-child(9), .hide-column-9 > table > thead > tr > th:nth-child(9) {
  display: none; }

.hide-column-10 > table > tr > td:nth-child(10), .hide-column-10 > table > tbody > tr > td:nth-child(10), .hide-column-10 > table > tr > th:nth-child(10), .hide-column-10 > table > thead > tr > th:nth-child(10) {
  display: none; }

.hide-column-11 > table > tr > td:nth-child(11), .hide-column-11 > table > tbody > tr > td:nth-child(11), .hide-column-11 > table > tr > th:nth-child(11), .hide-column-11 > table > thead > tr > th:nth-child(11) {
  display: none; }

.hide-column-12 > table > tr > td:nth-child(12), .hide-column-12 > table > tbody > tr > td:nth-child(12), .hide-column-12 > table > tr > th:nth-child(12), .hide-column-12 > table > thead > tr > th:nth-child(12) {
  display: none; }

.hide-column-13 > table > tr > td:nth-child(13), .hide-column-13 > table > tbody > tr > td:nth-child(13), .hide-column-13 > table > tr > th:nth-child(13), .hide-column-13 > table > thead > tr > th:nth-child(13) {
  display: none; }

.hide-column-14 > table > tr > td:nth-child(14), .hide-column-14 > table > tbody > tr > td:nth-child(14), .hide-column-14 > table > tr > th:nth-child(14), .hide-column-14 > table > thead > tr > th:nth-child(14) {
  display: none; }

.hide-column-15 > table > tr > td:nth-child(15), .hide-column-15 > table > tbody > tr > td:nth-child(15), .hide-column-15 > table > tr > th:nth-child(15), .hide-column-15 > table > thead > tr > th:nth-child(15) {
  display: none; }

.hide-column-16 > table > tr > td:nth-child(16), .hide-column-16 > table > tbody > tr > td:nth-child(16), .hide-column-16 > table > tr > th:nth-child(16), .hide-column-16 > table > thead > tr > th:nth-child(16) {
  display: none; }

.hide-column-17 > table > tr > td:nth-child(17), .hide-column-17 > table > tbody > tr > td:nth-child(17), .hide-column-17 > table > tr > th:nth-child(17), .hide-column-17 > table > thead > tr > th:nth-child(17) {
  display: none; }

.hide-column-18 > table > tr > td:nth-child(18), .hide-column-18 > table > tbody > tr > td:nth-child(18), .hide-column-18 > table > tr > th:nth-child(18), .hide-column-18 > table > thead > tr > th:nth-child(18) {
  display: none; }

.hide-column-19 > table > tr > td:nth-child(19), .hide-column-19 > table > tbody > tr > td:nth-child(19), .hide-column-19 > table > tr > th:nth-child(19), .hide-column-19 > table > thead > tr > th:nth-child(19) {
  display: none; }

.hide-column-20 > table > tr > td:nth-child(20), .hide-column-20 > table > tbody > tr > td:nth-child(20), .hide-column-20 > table > tr > th:nth-child(20), .hide-column-20 > table > thead > tr > th:nth-child(20) {
  display: none; }

.hide-column-21 > table > tr > td:nth-child(21), .hide-column-21 > table > tbody > tr > td:nth-child(21), .hide-column-21 > table > tr > th:nth-child(21), .hide-column-21 > table > thead > tr > th:nth-child(21) {
  display: none; }

.hide-column-22 > table > tr > td:nth-child(22), .hide-column-22 > table > tbody > tr > td:nth-child(22), .hide-column-22 > table > tr > th:nth-child(22), .hide-column-22 > table > thead > tr > th:nth-child(22) {
  display: none; }

.hide-column-23 > table > tr > td:nth-child(23), .hide-column-23 > table > tbody > tr > td:nth-child(23), .hide-column-23 > table > tr > th:nth-child(23), .hide-column-23 > table > thead > tr > th:nth-child(23) {
  display: none; }

.hide-column-24 > table > tr > td:nth-child(24), .hide-column-24 > table > tbody > tr > td:nth-child(24), .hide-column-24 > table > tr > th:nth-child(24), .hide-column-24 > table > thead > tr > th:nth-child(24) {
  display: none; }

.hide-column-25 > table > tr > td:nth-child(25), .hide-column-25 > table > tbody > tr > td:nth-child(25), .hide-column-25 > table > tr > th:nth-child(25), .hide-column-25 > table > thead > tr > th:nth-child(25) {
  display: none; }

.hide-column-26 > table > tr > td:nth-child(26), .hide-column-26 > table > tbody > tr > td:nth-child(26), .hide-column-26 > table > tr > th:nth-child(26), .hide-column-26 > table > thead > tr > th:nth-child(26) {
  display: none; }

.hide-column-27 > table > tr > td:nth-child(27), .hide-column-27 > table > tbody > tr > td:nth-child(27), .hide-column-27 > table > tr > th:nth-child(27), .hide-column-27 > table > thead > tr > th:nth-child(27) {
  display: none; }

.hide-column-28 > table > tr > td:nth-child(28), .hide-column-28 > table > tbody > tr > td:nth-child(28), .hide-column-28 > table > tr > th:nth-child(28), .hide-column-28 > table > thead > tr > th:nth-child(28) {
  display: none; }

.hide-column-29 > table > tr > td:nth-child(29), .hide-column-29 > table > tbody > tr > td:nth-child(29), .hide-column-29 > table > tr > th:nth-child(29), .hide-column-29 > table > thead > tr > th:nth-child(29) {
  display: none; }

.hide-column-30 > table > tr > td:nth-child(30), .hide-column-30 > table > tbody > tr > td:nth-child(30), .hide-column-30 > table > tr > th:nth-child(30), .hide-column-30 > table > thead > tr > th:nth-child(30) {
  display: none; }

.hide-column-31 > table > tr > td:nth-child(31), .hide-column-31 > table > tbody > tr > td:nth-child(31), .hide-column-31 > table > tr > th:nth-child(31), .hide-column-31 > table > thead > tr > th:nth-child(31) {
  display: none; }

.hide-column-32 > table > tr > td:nth-child(32), .hide-column-32 > table > tbody > tr > td:nth-child(32), .hide-column-32 > table > tr > th:nth-child(32), .hide-column-32 > table > thead > tr > th:nth-child(32) {
  display: none; }

.hide-column-33 > table > tr > td:nth-child(33), .hide-column-33 > table > tbody > tr > td:nth-child(33), .hide-column-33 > table > tr > th:nth-child(33), .hide-column-33 > table > thead > tr > th:nth-child(33) {
  display: none; }

.hide-column-34 > table > tr > td:nth-child(34), .hide-column-34 > table > tbody > tr > td:nth-child(34), .hide-column-34 > table > tr > th:nth-child(34), .hide-column-34 > table > thead > tr > th:nth-child(34) {
  display: none; }

.hide-column-35 > table > tr > td:nth-child(35), .hide-column-35 > table > tbody > tr > td:nth-child(35), .hide-column-35 > table > tr > th:nth-child(35), .hide-column-35 > table > thead > tr > th:nth-child(35) {
  display: none; }

.hide-column-36 > table > tr > td:nth-child(36), .hide-column-36 > table > tbody > tr > td:nth-child(36), .hide-column-36 > table > tr > th:nth-child(36), .hide-column-36 > table > thead > tr > th:nth-child(36) {
  display: none; }

.hide-column-37 > table > tr > td:nth-child(37), .hide-column-37 > table > tbody > tr > td:nth-child(37), .hide-column-37 > table > tr > th:nth-child(37), .hide-column-37 > table > thead > tr > th:nth-child(37) {
  display: none; }

.hide-column-38 > table > tr > td:nth-child(38), .hide-column-38 > table > tbody > tr > td:nth-child(38), .hide-column-38 > table > tr > th:nth-child(38), .hide-column-38 > table > thead > tr > th:nth-child(38) {
  display: none; }

.hide-column-39 > table > tr > td:nth-child(39), .hide-column-39 > table > tbody > tr > td:nth-child(39), .hide-column-39 > table > tr > th:nth-child(39), .hide-column-39 > table > thead > tr > th:nth-child(39) {
  display: none; }

.hide-column-40 > table > tr > td:nth-child(40), .hide-column-40 > table > tbody > tr > td:nth-child(40), .hide-column-40 > table > tr > th:nth-child(40), .hide-column-40 > table > thead > tr > th:nth-child(40) {
  display: none; }

.hide-column-41 > table > tr > td:nth-child(41), .hide-column-41 > table > tbody > tr > td:nth-child(41), .hide-column-41 > table > tr > th:nth-child(41), .hide-column-41 > table > thead > tr > th:nth-child(41) {
  display: none; }

.hide-column-42 > table > tr > td:nth-child(42), .hide-column-42 > table > tbody > tr > td:nth-child(42), .hide-column-42 > table > tr > th:nth-child(42), .hide-column-42 > table > thead > tr > th:nth-child(42) {
  display: none; }

.hide-column-43 > table > tr > td:nth-child(43), .hide-column-43 > table > tbody > tr > td:nth-child(43), .hide-column-43 > table > tr > th:nth-child(43), .hide-column-43 > table > thead > tr > th:nth-child(43) {
  display: none; }

.hide-column-44 > table > tr > td:nth-child(44), .hide-column-44 > table > tbody > tr > td:nth-child(44), .hide-column-44 > table > tr > th:nth-child(44), .hide-column-44 > table > thead > tr > th:nth-child(44) {
  display: none; }

.hide-column-45 > table > tr > td:nth-child(45), .hide-column-45 > table > tbody > tr > td:nth-child(45), .hide-column-45 > table > tr > th:nth-child(45), .hide-column-45 > table > thead > tr > th:nth-child(45) {
  display: none; }

.hide-column-46 > table > tr > td:nth-child(46), .hide-column-46 > table > tbody > tr > td:nth-child(46), .hide-column-46 > table > tr > th:nth-child(46), .hide-column-46 > table > thead > tr > th:nth-child(46) {
  display: none; }

.hide-column-47 > table > tr > td:nth-child(47), .hide-column-47 > table > tbody > tr > td:nth-child(47), .hide-column-47 > table > tr > th:nth-child(47), .hide-column-47 > table > thead > tr > th:nth-child(47) {
  display: none; }

.hide-column-48 > table > tr > td:nth-child(48), .hide-column-48 > table > tbody > tr > td:nth-child(48), .hide-column-48 > table > tr > th:nth-child(48), .hide-column-48 > table > thead > tr > th:nth-child(48) {
  display: none; }

.hide-column-49 > table > tr > td:nth-child(49), .hide-column-49 > table > tbody > tr > td:nth-child(49), .hide-column-49 > table > tr > th:nth-child(49), .hide-column-49 > table > thead > tr > th:nth-child(49) {
  display: none; }

.hide-column-50 > table > tr > td:nth-child(50), .hide-column-50 > table > tbody > tr > td:nth-child(50), .hide-column-50 > table > tr > th:nth-child(50), .hide-column-50 > table > thead > tr > th:nth-child(50) {
  display: none; }

.hide-column-51 > table > tr > td:nth-child(51), .hide-column-51 > table > tbody > tr > td:nth-child(51), .hide-column-51 > table > tr > th:nth-child(51), .hide-column-51 > table > thead > tr > th:nth-child(51) {
  display: none; }

.hide-column-52 > table > tr > td:nth-child(52), .hide-column-52 > table > tbody > tr > td:nth-child(52), .hide-column-52 > table > tr > th:nth-child(52), .hide-column-52 > table > thead > tr > th:nth-child(52) {
  display: none; }

.hide-column-53 > table > tr > td:nth-child(53), .hide-column-53 > table > tbody > tr > td:nth-child(53), .hide-column-53 > table > tr > th:nth-child(53), .hide-column-53 > table > thead > tr > th:nth-child(53) {
  display: none; }

.hide-column-54 > table > tr > td:nth-child(54), .hide-column-54 > table > tbody > tr > td:nth-child(54), .hide-column-54 > table > tr > th:nth-child(54), .hide-column-54 > table > thead > tr > th:nth-child(54) {
  display: none; }

.hide-column-55 > table > tr > td:nth-child(55), .hide-column-55 > table > tbody > tr > td:nth-child(55), .hide-column-55 > table > tr > th:nth-child(55), .hide-column-55 > table > thead > tr > th:nth-child(55) {
  display: none; }

.hide-column-56 > table > tr > td:nth-child(56), .hide-column-56 > table > tbody > tr > td:nth-child(56), .hide-column-56 > table > tr > th:nth-child(56), .hide-column-56 > table > thead > tr > th:nth-child(56) {
  display: none; }

.hide-column-57 > table > tr > td:nth-child(57), .hide-column-57 > table > tbody > tr > td:nth-child(57), .hide-column-57 > table > tr > th:nth-child(57), .hide-column-57 > table > thead > tr > th:nth-child(57) {
  display: none; }

.hide-column-58 > table > tr > td:nth-child(58), .hide-column-58 > table > tbody > tr > td:nth-child(58), .hide-column-58 > table > tr > th:nth-child(58), .hide-column-58 > table > thead > tr > th:nth-child(58) {
  display: none; }

.hide-column-59 > table > tr > td:nth-child(59), .hide-column-59 > table > tbody > tr > td:nth-child(59), .hide-column-59 > table > tr > th:nth-child(59), .hide-column-59 > table > thead > tr > th:nth-child(59) {
  display: none; }

.hide-column-60 > table > tr > td:nth-child(60), .hide-column-60 > table > tbody > tr > td:nth-child(60), .hide-column-60 > table > tr > th:nth-child(60), .hide-column-60 > table > thead > tr > th:nth-child(60) {
  display: none; }

.hide-column-61 > table > tr > td:nth-child(61), .hide-column-61 > table > tbody > tr > td:nth-child(61), .hide-column-61 > table > tr > th:nth-child(61), .hide-column-61 > table > thead > tr > th:nth-child(61) {
  display: none; }

.hide-column-62 > table > tr > td:nth-child(62), .hide-column-62 > table > tbody > tr > td:nth-child(62), .hide-column-62 > table > tr > th:nth-child(62), .hide-column-62 > table > thead > tr > th:nth-child(62) {
  display: none; }

.hide-column-63 > table > tr > td:nth-child(63), .hide-column-63 > table > tbody > tr > td:nth-child(63), .hide-column-63 > table > tr > th:nth-child(63), .hide-column-63 > table > thead > tr > th:nth-child(63) {
  display: none; }

.hide-column-64 > table > tr > td:nth-child(64), .hide-column-64 > table > tbody > tr > td:nth-child(64), .hide-column-64 > table > tr > th:nth-child(64), .hide-column-64 > table > thead > tr > th:nth-child(64) {
  display: none; }

.hide-column-65 > table > tr > td:nth-child(65), .hide-column-65 > table > tbody > tr > td:nth-child(65), .hide-column-65 > table > tr > th:nth-child(65), .hide-column-65 > table > thead > tr > th:nth-child(65) {
  display: none; }

.hide-column-66 > table > tr > td:nth-child(66), .hide-column-66 > table > tbody > tr > td:nth-child(66), .hide-column-66 > table > tr > th:nth-child(66), .hide-column-66 > table > thead > tr > th:nth-child(66) {
  display: none; }

.hide-column-67 > table > tr > td:nth-child(67), .hide-column-67 > table > tbody > tr > td:nth-child(67), .hide-column-67 > table > tr > th:nth-child(67), .hide-column-67 > table > thead > tr > th:nth-child(67) {
  display: none; }

.hide-column-68 > table > tr > td:nth-child(68), .hide-column-68 > table > tbody > tr > td:nth-child(68), .hide-column-68 > table > tr > th:nth-child(68), .hide-column-68 > table > thead > tr > th:nth-child(68) {
  display: none; }

.hide-column-69 > table > tr > td:nth-child(69), .hide-column-69 > table > tbody > tr > td:nth-child(69), .hide-column-69 > table > tr > th:nth-child(69), .hide-column-69 > table > thead > tr > th:nth-child(69) {
  display: none; }

.hide-column-70 > table > tr > td:nth-child(70), .hide-column-70 > table > tbody > tr > td:nth-child(70), .hide-column-70 > table > tr > th:nth-child(70), .hide-column-70 > table > thead > tr > th:nth-child(70) {
  display: none; }

.hide-column-71 > table > tr > td:nth-child(71), .hide-column-71 > table > tbody > tr > td:nth-child(71), .hide-column-71 > table > tr > th:nth-child(71), .hide-column-71 > table > thead > tr > th:nth-child(71) {
  display: none; }

.hide-column-72 > table > tr > td:nth-child(72), .hide-column-72 > table > tbody > tr > td:nth-child(72), .hide-column-72 > table > tr > th:nth-child(72), .hide-column-72 > table > thead > tr > th:nth-child(72) {
  display: none; }

.hide-column-73 > table > tr > td:nth-child(73), .hide-column-73 > table > tbody > tr > td:nth-child(73), .hide-column-73 > table > tr > th:nth-child(73), .hide-column-73 > table > thead > tr > th:nth-child(73) {
  display: none; }

.hide-column-74 > table > tr > td:nth-child(74), .hide-column-74 > table > tbody > tr > td:nth-child(74), .hide-column-74 > table > tr > th:nth-child(74), .hide-column-74 > table > thead > tr > th:nth-child(74) {
  display: none; }

.hide-column-75 > table > tr > td:nth-child(75), .hide-column-75 > table > tbody > tr > td:nth-child(75), .hide-column-75 > table > tr > th:nth-child(75), .hide-column-75 > table > thead > tr > th:nth-child(75) {
  display: none; }

.hide-column-76 > table > tr > td:nth-child(76), .hide-column-76 > table > tbody > tr > td:nth-child(76), .hide-column-76 > table > tr > th:nth-child(76), .hide-column-76 > table > thead > tr > th:nth-child(76) {
  display: none; }

.hide-column-77 > table > tr > td:nth-child(77), .hide-column-77 > table > tbody > tr > td:nth-child(77), .hide-column-77 > table > tr > th:nth-child(77), .hide-column-77 > table > thead > tr > th:nth-child(77) {
  display: none; }

.hide-column-78 > table > tr > td:nth-child(78), .hide-column-78 > table > tbody > tr > td:nth-child(78), .hide-column-78 > table > tr > th:nth-child(78), .hide-column-78 > table > thead > tr > th:nth-child(78) {
  display: none; }

.hide-column-79 > table > tr > td:nth-child(79), .hide-column-79 > table > tbody > tr > td:nth-child(79), .hide-column-79 > table > tr > th:nth-child(79), .hide-column-79 > table > thead > tr > th:nth-child(79) {
  display: none; }

.hide-column-80 > table > tr > td:nth-child(80), .hide-column-80 > table > tbody > tr > td:nth-child(80), .hide-column-80 > table > tr > th:nth-child(80), .hide-column-80 > table > thead > tr > th:nth-child(80) {
  display: none; }

.hide-column-81 > table > tr > td:nth-child(81), .hide-column-81 > table > tbody > tr > td:nth-child(81), .hide-column-81 > table > tr > th:nth-child(81), .hide-column-81 > table > thead > tr > th:nth-child(81) {
  display: none; }

.hide-column-82 > table > tr > td:nth-child(82), .hide-column-82 > table > tbody > tr > td:nth-child(82), .hide-column-82 > table > tr > th:nth-child(82), .hide-column-82 > table > thead > tr > th:nth-child(82) {
  display: none; }

.hide-column-83 > table > tr > td:nth-child(83), .hide-column-83 > table > tbody > tr > td:nth-child(83), .hide-column-83 > table > tr > th:nth-child(83), .hide-column-83 > table > thead > tr > th:nth-child(83) {
  display: none; }

.hide-column-84 > table > tr > td:nth-child(84), .hide-column-84 > table > tbody > tr > td:nth-child(84), .hide-column-84 > table > tr > th:nth-child(84), .hide-column-84 > table > thead > tr > th:nth-child(84) {
  display: none; }

.hide-column-85 > table > tr > td:nth-child(85), .hide-column-85 > table > tbody > tr > td:nth-child(85), .hide-column-85 > table > tr > th:nth-child(85), .hide-column-85 > table > thead > tr > th:nth-child(85) {
  display: none; }

.hide-column-86 > table > tr > td:nth-child(86), .hide-column-86 > table > tbody > tr > td:nth-child(86), .hide-column-86 > table > tr > th:nth-child(86), .hide-column-86 > table > thead > tr > th:nth-child(86) {
  display: none; }

.hide-column-87 > table > tr > td:nth-child(87), .hide-column-87 > table > tbody > tr > td:nth-child(87), .hide-column-87 > table > tr > th:nth-child(87), .hide-column-87 > table > thead > tr > th:nth-child(87) {
  display: none; }

.hide-column-88 > table > tr > td:nth-child(88), .hide-column-88 > table > tbody > tr > td:nth-child(88), .hide-column-88 > table > tr > th:nth-child(88), .hide-column-88 > table > thead > tr > th:nth-child(88) {
  display: none; }

.hide-column-89 > table > tr > td:nth-child(89), .hide-column-89 > table > tbody > tr > td:nth-child(89), .hide-column-89 > table > tr > th:nth-child(89), .hide-column-89 > table > thead > tr > th:nth-child(89) {
  display: none; }

.hide-column-90 > table > tr > td:nth-child(90), .hide-column-90 > table > tbody > tr > td:nth-child(90), .hide-column-90 > table > tr > th:nth-child(90), .hide-column-90 > table > thead > tr > th:nth-child(90) {
  display: none; }

.hide-column-91 > table > tr > td:nth-child(91), .hide-column-91 > table > tbody > tr > td:nth-child(91), .hide-column-91 > table > tr > th:nth-child(91), .hide-column-91 > table > thead > tr > th:nth-child(91) {
  display: none; }

.hide-column-92 > table > tr > td:nth-child(92), .hide-column-92 > table > tbody > tr > td:nth-child(92), .hide-column-92 > table > tr > th:nth-child(92), .hide-column-92 > table > thead > tr > th:nth-child(92) {
  display: none; }

.hide-column-93 > table > tr > td:nth-child(93), .hide-column-93 > table > tbody > tr > td:nth-child(93), .hide-column-93 > table > tr > th:nth-child(93), .hide-column-93 > table > thead > tr > th:nth-child(93) {
  display: none; }

.hide-column-94 > table > tr > td:nth-child(94), .hide-column-94 > table > tbody > tr > td:nth-child(94), .hide-column-94 > table > tr > th:nth-child(94), .hide-column-94 > table > thead > tr > th:nth-child(94) {
  display: none; }

.hide-column-95 > table > tr > td:nth-child(95), .hide-column-95 > table > tbody > tr > td:nth-child(95), .hide-column-95 > table > tr > th:nth-child(95), .hide-column-95 > table > thead > tr > th:nth-child(95) {
  display: none; }

.hide-column-96 > table > tr > td:nth-child(96), .hide-column-96 > table > tbody > tr > td:nth-child(96), .hide-column-96 > table > tr > th:nth-child(96), .hide-column-96 > table > thead > tr > th:nth-child(96) {
  display: none; }

.hide-column-97 > table > tr > td:nth-child(97), .hide-column-97 > table > tbody > tr > td:nth-child(97), .hide-column-97 > table > tr > th:nth-child(97), .hide-column-97 > table > thead > tr > th:nth-child(97) {
  display: none; }

.hide-column-98 > table > tr > td:nth-child(98), .hide-column-98 > table > tbody > tr > td:nth-child(98), .hide-column-98 > table > tr > th:nth-child(98), .hide-column-98 > table > thead > tr > th:nth-child(98) {
  display: none; }

.hide-column-99 > table > tr > td:nth-child(99), .hide-column-99 > table > tbody > tr > td:nth-child(99), .hide-column-99 > table > tr > th:nth-child(99), .hide-column-99 > table > thead > tr > th:nth-child(99) {
  display: none; }
